@use "reset";
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    background-color: #47A8BD;
    font-family: "Roboto Condensed", sans-serif;
    h2{
        text-align: center;
    }
    ul {
        li{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            list-style: none;
            a{
                text-decoration: none;
            }
        }
    }
}